<h1>Form Validation</h1>
<div class="center">
    <form [formGroup]="registrationForm" (ngSubmit)="submitForm()" >
        
        <input type="text" id="name" name="name" formControlName="aname" placeholder="Associate Name"><br>
        <span *ngIf="registrationForm.get('aname').hasError('required')">Please enter the Associate Name</span>
        <span *ngIf="registrationForm.get('aname').hasError('pattern')">Accepts only alphabets and spaces</span>
        <span *ngIf="registrationForm.get('aname').hasError('minlength')">Associate Name needs minimum 5 characters length</span>
        <span *ngIf="registrationForm.get('aname').hasError('maxlength')">Associate Name doesn't exceed maximum 30 characters length</span><br>
    

        <input type="text" id="aid" formControlName="aid" placeholder="Associate Id"><br>
        <span *ngIf="registrationForm.get('aid').hasError('required')">Please enter the Associate Id</span>
        <span *ngIf="registrationForm.get('aid').hasError('pattern')">Invalid Associate Id</span>
        <span *ngIf="registrationForm.get('aid').hasError('minlength')">Invalid Associate Id</span>
        <span *ngIf="registrationForm.get('aid').hasError('maxlength')">Invalid Associate Id</span><br>


        <input type="text" id="pid" formControlName="pid" placeholder="Project ID"><br>
        <span *ngIf="registrationForm.get('pid').hasError('required')">Please enter the project Id</span>
        <span *ngIf="registrationForm.get('pid').hasError('pattern')">Invalid Project Id pp</span>
        <span *ngIf="registrationForm.get('pid').hasError('minlength')">Invalid Project Id</span>
        <span *ngIf="registrationForm.get('pid').hasError('maxlength')">Invalid Project Id</span><br>

        <div class="mb-3">
        <input ngModel name="options" ng-control="options" type="radio" [value]="1" (click)="chooseLocation(1)"><label>Offshore </label>
        <input ngModel name="options" ng-control="options" type="radio" [value]="2" (click)="chooseLocation(2)"><label>Onshore</label><br>
        <span *ngIf="radio">please select the location</span>
        </div>
        
        <div class="mb-3">
        <select ngModel name="location" id="location" (click)="checkRadioButton()">
        <option value="">Select Location</option>
        <option *ngFor="let location of locations" value="location">{{ location }}</option>
        </select>
        </div>
        
        <div ngModelGroup="modelgrp" #check="ngModelGroup" class="mb-3">
            <label class="checkbox">
              <input type="checkbox" ngModel name="Html"#HTML="ngModel"(click)="checkBox(HTML)">HTML5,CSS3,JS
            </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="checkbox">
              <input type="checkbox"ngModel name="Ang"#Ang="ngModel"(click)="checkBox(Ang)">Angular 8
            </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="checkbox">
              <input type="checkbox" ngModel name="Exp" #Exp="ngModel" (click)="checkBox(Exp)">Express JS
            </label><br>
            <label class="checkbox">
              <input type="checkbox" ngModel name="SASS" #SASS="ngModel" (click)="checkBox(SASS)">SASS
            </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="checkbox">
              <input type="checkbox" ngModel name="React" #React="ngModel" (click)="checkBox(React)"/>React
            </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="checkbox">
                <input type="checkbox" ngModel name="Node" #Node="ngModel" (click)="checkBox(Node)">Node
            </label><br>
            <label class="checkbox">
              <input type="checkbox" ngModel name="ES5" #ES5="ngModel" (click)="checkBox(ES5)">ES5,ES6,ES7...
            </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="checkbox">
              <input type="checkbox" ngModel name="VEU" #VEU="ngModel"(click)="checkBox(VEU)">Veu JS
            </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="checkbox">
              <input type="checkbox" ngModel name="DV" #DV="ngModel" (click)="checkBox(DV)">Mongo DB
            </label><br>
            <label class="checkbox">
              <input type="checkbox" ngModel name="Boot" #Boot="ngModel" (click)="checkBox(Boot)">Bootstrap 4
            </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="checkbox">
              <input type="checkbox" ngModel name="Type" #Type="ngModel"(click)="checkBox(Type)">TypeScript
            </label><br>
            <span *ngIf="count < 5 || check.touched">Please select Min 5 skills.</span>
          </div>
          
        

        <label for="profile">Upload Profile</label><br>
        <input type="file" id="profile" formControlName="profile"><br>
        <span *ngIf="registrationForm.get('profile').hasError('required')">Please upload profile picture</span><br>
        
        <textarea id="comments" formControlName="comments" rows="4" cols="50" placeholder="comments"></textarea><br>
        <span *ngIf="registrationForm.get('comments').hasError('required')">Please Enter Comments</span><br>
        
        <button class="submit" type="button" [disabled]="!registrationForm.valid" (click)="submitForm()">Submit</button>&nbsp;&nbsp;
        
        <button class="reset"(click)="resetForm()">Reset</button>
    </form>
</div>
